<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Type</th>
          <th scope="col">State</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let device of devices">
          <td>{{ device.id }}</td>
          <td>{{ device.deviceType }}</td>
          <td>{{ device.deviceState }}</td>
          <td><button (click)="deleteById(device.id)" class="btn btn-info">Delete Device</button>
            <button (click)="updateById(device.id)" class="btn btn-info">Update Device </button>
            <button (click)="viewById(device.id)" class="btn btn-info">View Device Info </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
