<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #deviceForm="ngForm">
      <div class="form-group">
        <label for="id">Id</label>
        <input type="text" [(ngModel)]="device.id"
               class="form-control"
               id="id"
               name="id"
               placeholder="Enter device id"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">ID is required</div>

      <div class="form-group">
        <label for="type">Type</label>
        <input type="text" [(ngModel)]="device.deviceType"
               class="form-control"
               id="type"
               name="type"
               placeholder="Enter device type"
               required #name="ngModel">
      </div>
      <div [hidden]="!name.pristine" class="alert alert-danger">Type is required</div>

      <div class="form-group">
        <label for="state">State</label>
        <input type="text" [(ngModel)]="device.deviceState"
               class="form-control"
               id="state"
               name="state"
               placeholder="Enter device state"
               required #email="ngModel">
        <div [hidden]="!email.pristine" class="alert alert-danger">State is required</div>
      </div>
      <button class="btn btn-info" (click)="openDialog()">Add Attribute</button>
      <table class="table table-bordered table-striped" id="attributeTable">
        <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Max Value</th>
          <th scope="col">Min Value</th>
          <th scope="col">Actual Value</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let attribute of device.attributes">
          <td>{{ attribute.id }}</td>
          <td>{{ attribute.attributeName }}</td>
          <td>{{ attribute.maxValue }}</td>
          <td>{{ attribute.minValue }}</td>
          <td>{{ attribute.actualValue }}</td>
        </tr>
        </tbody>
      </table>
      <button type="submit" [disabled]="!deviceForm.form.valid"
              class="btn btn-info">Submit
      </button>
      <div [hidden]="!submitted">
        <h4>You submitted successfully!</h4>
      </div>
    </form>
  </div>
</div>
